@{
    ViewData["Title"] = "Small Arms Create";
}

<h1>Small Arms Create</h1>
<p>
    This is the Small Arms Create page under FireFusionSteel.
</p>

<div id="app"></div>

@section Scripts {
    <script src="~/js/FireFusionSteel/SmallArms/SmallArmsServer.js"></script>
    <script src="~/js/FireFusionSteel/SmallArms/SmallArmsCreateModel.js"></script>
    <script src="~/js/FireFusionSteel/SmallArms/SmallArmsCreateView.js"></script>
    <script src="~/js/FireFusionSteel/SmallArms/SmallArmsCreateController.js"></script>
    <script src="~/js/FireFusionSteel/SmallArms/SmallArmsCreate.js"></script>
}